@font-face {
    font-family: "Montserrat Regular";
    src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: "Montserrat Bold";
    src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
  }
  
  body {
    background-color: #1d1d20;
    color: white;
    font-family: "Montserrat Regular", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 940px;
  }
  
  .box {
    display: flex;
    gap: 40px;
  }
  
  #column1-paragraph {
    line-height: 1.5;
  }
  
  .column-1, .column-2 {
    flex: 1;
    padding: 20px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .column-1 h1, .column-2 h1 {
    min-height: 50px;
  }

  .column-2 {
    font-family: "Montserrat Bold", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /* Distributes space between header and list */
  }

  .column-2 h1 {
    color: rgb(173, 43, 43);
  }

  #myList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Horizontally centering items */
    justify-content: center; /* Vertically centering items */
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
  }
  
  #myList li {
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .project-description, #column1-paragraph {
    animation: fadeIn 3.5s;
  }

  .github-icon {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 24px; /* Increase the font size */
    color: white;   
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .icon-container a {
    margin: 0 15px;
    font-size: 24px;
    color: white;
  }
  
  #home-icon {
    font-size: 24px;
  }

  .email-alert-hidden {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    z-index: 1;
  }
  
  .email-alert-visible {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    z-index: 1;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }